html,
body {
	margin:0;
	padding:0;
	overflow-x: hidden;
	font-family: $body-font;
	font-size: 16px;
	line-height: 1.7em;
	color: $text_color;
	letter-spacing: 1px;
	font-weight: 400;
	&.active {
		overflow: hidden;
	}
}
* {
	box-sizing: border-box; 
}
//Default Fonts
h1, h2, h3, h4, h5, [class*="heading-"] {
	font-family: $header-font;
	margin-top: 0;
	margin-bottom: 1rem;
	font-weight: 500;
	letter-spacing: 2px;
	line-height: 1em;
	text-transform: uppercase;
	color: $gold;
}
b,strong {
	font-weight: 500;
}
h1, .heading-1 {
	font-size: 40px;
	@include bp-medium {
		font-size: 30px;
	}
}
h2, .heading-2 {
	font-size: 34px;
	@include bp-medium {
		font-size: 28px;
	}	
}
h3, .heading-3 {
	font-size: 30px;
	@include bp-medium {
		font-size: 26px;
	}
}

h4, .heading-4 {
	font-size: 24px;
}
//Links
a {
	text-decoration: none;
	color: inherit;
	display: inline-block;
	@include transition(color);
	&:hover, &:active, &:focus {
		color: $black;
	}
}

//Images 
img {
	max-width: 100%;
	height: auto;
	display: block;
	margin: auto;
}

//Form Inputs
input[type="text"],input[type="email"],input[type="number"],textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	border: 0;
	font-family: $body-font;
	&:active, &:focus {
		outline: 0;
	}
	&.submit {
		white-space: normal;
	}
}
button {
	box-shadow: none;
	border: none;
	&:active, &:focus {
		outline: 0;
	}
}

main {
	padding-top: $nav-height;
}

//slick overrides
.slick-slider {
	position: relative;
	.slick-arrow {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		z-index: 5;
		color: transparent;
		background-color: $black;
		height: 58px;
		width: 32px;
		overflow: hidden;
		text-align: center;
		
		&:before {
			color: $white;
			font-family: "Font Awesome 5 Free"; 
			font-weight: 900;
			position: relative;
		}
		&.slick-prev {
			left: -40px;
			@include bp-small {
				left: -10px;
			}
			&:before {
				content: '\f053';
				left: 5px;
			}	
		}
		&.slick-next {
			right: -40px;
			@include bp-small {
				right: -10px;
			}
			&:before {
				content: '\f054';
				right: -5px;
			}
		}
	}
	.slick-slide {
		outline: none;
	}	
}
.btn, .c7-btn, a.btn {
	text-transform: uppercase;
	background-color: $black;
	font-weight: normal;
	text-decoration: none;
	color: $gold;
	padding: 0.5rem 1.5rem;
	font-weight: 400;
	font-size: 18px;
	margin: 1rem 0;
	border-radius: 0;
	display: inline-block;
	min-height: 0;
	//c7 overrides
	border: none;
	font-family: inherit;
	line-height: normal;
	@include transition(color, background-color);
	&:hover, &:focus {
		border: none;
		color: $white;
		background-color: $black;
		cursor: pointer;
    text-decoration: none;
	}
	&.white {
		background-color: $white;
		color: $black;
		&:hover,&:active, &:focus {
			background-color: $black;
			color: $white;
		}	
	}
	&.c7-btn--primary {
		&:hover, &:focus {
			color: $white;
			background-color: $black;
		}
	}
	&.c7-btn--alt {
		background-color: $white;
		color: $black;
		border: 2px solid $black;
		&:hover,&:active, &:focus {
			background-color: $black;
			color: $white;
		}
	}
}

.hidden {
	display: none;
}

section {
	padding: 40px 20px;
	.inner-section {
		
	}
}
//c7 overrides
body {
	&.c7-cart-open {
		overflow-y: hidden;
		nav.active .nav-toggle {
			z-index: 1;
		}
	}
	.c7-link {
		color: $black;
		svg {
			stroke: $black;
		}
	}
	.c7-reservation-widget .c7-form__group {
		align-items: flex-start;
		.c7-btn {
			margin: 2rem 0 0 1rem;
			@include bp-medium {
				margin: 1rem 0 0 0;
			}
		}
		
	}
	.c7-form label, .c7-form .label {
		font-family: inherit;
	}
	.c7-form select, .c7-form input[type='text'], .c7-form input[type='email'], .c7-form input[type='tel'], .c7-form input[type='password'], .c7-form input[type='username'], .c7-form .c7-input-sudo {
		font-family: inherit;
	}
	
	.c7-checkout-template {
		a {
			text-decoration: underline;
			&:hover {
				cursor: pointer;
			}
		}
	}
	#c7-content {
		&.c7-content--checkout {
			.c7-breadcrumbs {
				margin-top: 0;
			}
		}
	}	
}