nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $white;
  padding: 0 30px;
  height: 88px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include transition(height);
  z-index: 10;
  &.home-nav {
    position: absolute;
    justify-content: center;
    background-color: transparent;
    @include bp-small {
      justify-content: space-between;
    }
    .nav-col.right {
      
      position: absolute;
      top: 20px;
      right: 40px;

      @include bp-small {
        top: 0;
        right: 0;
        position: relative;
      }  
      .logo-img {
        height: 48px;
      }
    }
    .nav-toggle {
      
      background-color: transparent;
      @include transition(background-color);
      @include bp-small {
        right: 0px;
      }
      .toggle-line {
        background-color: $gold;
      }
    }
    &.active {
      .nav-toggle {
        
        background-color: $black;
        .toggle-line {
          background-color: $white;
        }
      }
    }
  }
  &.scrolled {
    height: 56px;
    .nav-logo {
      .logo-img {
        height: 21px;
      }
      
    }
  }
  &.active {
    .nav-menu {
      z-index: 11;
      opacity: 1;
      transform: translateY(0%);
    }
    .nav-toggle {
      z-index: 12;
      .toggle-line {
        &.top {
          transform: translateY(8px) rotate(135deg);
        }
        &.middle {
          transform: scale(0);
        }
        &.bottom {
          transform: translateY(-8px) rotate(-135deg);
        }
      }
    }
  }
  .nav-menu {
    position: fixed;
    top: 0;
    right: 0;
    transform: translateY(-100%);
    opacity: 0;
    z-index: -1;
    @include transition(transform, opacity);
    background-color: rgba($gold,0.95);
    width: 300px;
    padding: 90px 10px 80px;
    color: $white;
    text-align: center;
    @include bp-medium {
      width: 100%;
    }
    .menu-links {
      .link-block {
        .menu-link {
          color: $white;
          padding: 9.5px 0;
          font-size: 19px;
          &:active,&:hover {
            color: $black;
          }
        }
        #c7-account {
          .c7-user-nav {
            &__account {
              padding-right: 0;
              & > a {
                color: $white;
                padding: 9.5px 0;
                font-size: 19px;
                &:active,&:hover {
                  color: $black;
                  & > svg {
                    stroke: $black;
                  }
                }
                & > svg {
                  stroke: $white;
                  @include transition(stroke);
                }
              }
              &__dropdown {
                left: 50%;
                right: auto;
                transform: translateX(-50%);
              }
            }
          }
          
        }
      }
    }
    .social-links {
      margin-top: 10px;
      .social-link {
        font-size: 21px;
        background-color: $black;
        line-height: 1;
        height: 39px;
        width: 39px;
        color: $gold;
        &:not(:first-child) {
          margin-left: 10px;
        }
        &:hover {
          color: $white;
        }
        i {
          position: relative;
          top: 7px;
        }
      }
    }
  }
  .nav-logo {
    max-width: 70%;
    .logo-img {
      margin: 0;
      height: 33px;
      width: auto;
      @include transition(height);
      @include bp-medium {
        height: 21px;
      }
    }
  }
  .nav-col {
    &.right {
      display: flex;
      align-items: center;
    }
  }
  .nav-toggle {
    position: relative;
    background-color: $black;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .toggle-line {
      background-color: $white;
      height: 3px;
      width: 25px;
      border-radius: 3px;
      display: block;
      @include transition(transform);
      &.middle {
        margin: 5px 0;
      }
    }
  }
}
//cart
body {
	&.c7-cart-open {
		overflow-y: hidden;
		nav.active .nav-toggle {
			z-index: 1;
		}
	}
	#c7-cart {
		.c7-link {
      position: relative;
      &:hover {
				text-decoration: none;
				.c7-user-nav__cart__count {
					color: $white;
				}
      }
      .c7-user-nav__cart__title {
			color: $gold;
      position: relative;
      margin-right: 2rem;
      top: 5px;
      svg {
        display: none;
      }
      @include bp-small {
        margin-right: 1rem;
      }
			
      &:before {
        content: '\f07a';
        font-family: "Font Awesome 5 Free"; 
        font-weight: 900;
        font-size: 28px;
      }
      
			.c7-cart__total {
				display: none;
			}
    }
    .c7-user-nav__cart__count {
				background-color: $black;
				height: 20px;
        width: 20px;
        font-size: 14px;
        color: $white;
        display: flex;
        justify-content: center;
        align-items: center;
				border-radius: 50%;
				vertical-align: middle;
				position: absolute;
    		top: 12px;
    		right: 20px;
			}
			
		}
		.c7-cart {
			width: 500px;
			@include bp-medium {
				width: 100%;
			}
		}
  }
}  