nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $white;
  padding: 0 30px;
  height: 88px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include transition(height);
  z-index: 10;
  &.home-nav {
    position: absolute;
    justify-content: center;
    background-color: transparent;
    .nav-logo {
      align-self: center;
      position: relative;
      top: 10px;
      @include bp-small {
        top: 2px;
      }  
      .logo-img {
        height: 48px;
      }
    }
    .nav-toggle {
      position: absolute;
      background-color: transparent;
      @include transition(background-color);
      @include bp-small {
        right: 10px;
      }
      .toggle-line {
        background-color: $gold;
      }
    }
    &.active {
      .nav-toggle {
        position: absolute;
        background-color: $black;
        .toggle-line {
          background-color: $white;
        }
      }
    }
  }
  &.scrolled {
    height: 56px;
    .nav-logo {
      .logo-img {
        height: 21px;
      }
      
    }
  }
  &.active {
    .nav-menu {
      z-index: 11;
      opacity: 1;
      transform: translateY(0%);
    }
    .nav-toggle {
      z-index: 12;
      .toggle-line {
        &.top {
          transform: translateY(8px) rotate(135deg);
        }
        &.middle {
          transform: scale(0);
        }
        &.bottom {
          transform: translateY(-8px) rotate(-135deg);
        }
      }
    }
  }
  .nav-menu {
    position: fixed;
    top: 0;
    right: 0;
    transform: translateY(-100%);
    opacity: 0;
    z-index: -1;
    @include transition(transform, opacity);
    background-color: rgba($gold,0.95);
    width: 300px;
    padding: 90px 10px 80px;
    color: $white;
    text-align: center;
    @include bp-medium {
      width: 100%;
    }
    .menu-links {
      .link-block {
        .menu-link {
          color: $white;
          padding: 9.5px 0;
          font-size: 19px;
          &:active,&:hover {
            color: $black;
          }
        }
      }
    }
    .social-links {
      margin-top: 10px;
      .social-link {
        font-size: 21px;
        background-color: $black;
        line-height: 1;
        height: 39px;
        width: 39px;
        color: $gold;
        &:not(:first-child) {
          margin-left: 10px;
        }
        &:hover {
          color: $white;
        }
        i {
          position: relative;
          top: 7px;
        }
      }
    }
  }
  .nav-logo {
    max-width: 70%;
    .logo-img {
      margin: 0;
      height: 33px;
      width: auto;
      @include transition(height);
      @include bp-medium {
        height: 21px;
      }
    }
  }
  .nav-toggle {
    position: fixed;
    background-color: $black;
    width: 40px;
    height: 40px;
    right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    .toggle-line {
      background-color: $white;
      height: 3px;
      width: 25px;
      border-radius: 3px;
      display: block;
      @include transition(transform);
      &.middle {
        margin: 5px 0;
      }
    }
  }
}