//Color Variables
$black: #000;
$white: #fff;
$gold: #ba8d00;
$grey: #a7a9ae;
$tan: #CB9B0A14;
//Theme colors
$text_color: $black;
$primary_color: $gold;
$secondary_color: $white;
//Mobile Breakpoints
$size-x-large: 1280px;
$size-large: 1024px;
$size-medium: 768px;
$size-small: 568px;
//Transition
$transition_duration: .5s;
//Fonts
$header-font: 'Oswald',Helvetica,Arial,Lucida,sans-serif;
$body-font: 'Oswald',Helvetica,Arial,Lucida,sans-serif;
$nav-height: 88px;