@import "vars.scss";
@import "mixins.scss";
#login {
  min-height: 100vh;
  .c7-account-login {
    &__alt-login button {
      color: $black; 
    }
  }

  #c7-login-form {
    max-width: $size-small;
    margin: auto;
    p {
      a {
        color: $gold;
      }
    }
  }
}
