@import "vars.scss";
@import "mixins.scss";
main {
  padding-top: $nav-height;
  #content {
    .inner-section {
      max-width: 950px;
      margin: auto;
    }
    ul,ol {
      padding-left: 1em;
    }
    p {
      a:not(.btn) {
        font-weight: bold;
        text-decoration: underline;
      }
    }
    
  }
}