@import "vars.scss";
@import "mixins.scss";

  #c7-content {
    padding: 2rem;
    .c7-product-detail {
      max-width: $size-large;
      margin: auto;
      display: flex;
      
      gap: 2rem;
      @include bp-medium {
        flex-direction: column;
      }
      .c7-product-detail__photo {
        flex: 1 0 50%;
        @include bp-medium {
          width: 100%;
        }
        img {
          max-height: 400px;
        }
        .c7-product-detail__photo__thumbs {
          display: flex;
          justify-content: center;
          margin: 1rem -0.5rem 0;
          a {
            display: inline-block;
            height: 62px;
            width: 62px;
            margin: 0 0.5rem;
            overflow: hidden;
            img {
              height: 100%;
              width: 100%;
              object-fit: cover;
            }
          }
        }
      }
      .c7-product-detail__info {
        flex: 1 0 50%;
        @include bp-medium {
          text-align: left;
          
        }
        h1 {
          text-align: left;
        }
        .c7-product-specs {
          display: none;
        }
        .c7-btn {
          margin: 0;
          height: 45px;
        }
        .c7-product__variant__add-to-cart {
          justify-content: left;
        }
      }
      
    }
    
  }
