---
_enabled_editors:
  - visual
  - data
_inputs:
  $.title:
    comment: title of the page that appears in the hero
  $.bg-image:
    label: background image
    comment: background image that appears in the hero
  $.contact:
    type: markdown
    comment: >-
      the paragraph about contact information that appears below the
      hero
  $.brand-assets.logos:
    type: array
    options:
      structures: _structures.trade-media-page-logos
  $.brand-assets.photos:
    type: array
    options:
      structures: _structures.trade-media-page-photos
  $.brand-assets.bios:
    type: array
    options:
      structures: _structures.trade-media-page-bios
  $.brand-assets.videos:
    type: array
    options:
      structures: _structures.trade-media-page-videos
  $.wine-portfolio.wines:
    type: array
    comment: use the add item button to add new wines
    options:
      structures: _structures.trade-media-page-wines
  $.newsroom.stories:
    type: array
    comment: Add and order multiple stories here. Select the add item button
    options:
      structures: _structures.trade-media-page-stories
title: Trade & Media
permalink: /trade-media/
bg-image: /img/grapes-bg.jpg
css: trade-media
content-id: trade-media
layout: default
scripts:
  - trade-media
contact: >-
  For all media inquiries, including press visits and additional assets, please
  contact Lisa Howard, at
  [lisa@tolenaswinery.com](mailto:lisa@tolenaswinery.com).
media-categories:
  - title: Brand Assets
    image: /img/brand-assets-menu.jpg
  - title: Wine Portfolio
    image: /img/wine-portfolio-menu.jpg
  - title: Newsroom
    image: /img/newsroom-menu.jpg
brand-assets:
  links:
    - Logos
    - Photos
    - Bios
    - Videos
  logos:
    - title: Company Logo - Gold
      images:
        - /img/Tolenas-Gold.png
        - /img/Tolenas-Gold.jpg
    - title: Company Logo - Black
      images:
        - /img/Tolenas-Black.png
        - /img/Tolenas-Black.jpg
    - title: Company Logo - White
      images:
        - /img/tolenas-white.png
        - /img/Tolenas-White.jpg
  photos:
    - title: Family Photo 2020
      image:
        original: /img/family-photo-2020.jpg
        thumb: /img/family-photo-2020-thumb.jpg
    - title: Lisa Howard - Winemaker
      image:
        original: /img/lisa-howard-winemaker.jpg
        thumb: /img/lisa-howard-winemaker-thumb.jpg
    - title: Lisa Howard & Cliff Howard - Winemakers/Vintners
      image:
        original: /img/lisa-cliff-howard-vintners.jpg
        thumb: /img/lisa-cliff-howard-vintners-thumb.jpg
    - title: Cliff Howard - Winemaker
      image:
        original: /img/cliff-howard-winemaker.jpg
        thumb: /img/cliff-howard-winemaker-thumb.jpg
    - title: Winery Photo
      image:
        original: /img/winery.jpg
        thumb: /img/winery-thumb.jpg
  bios:
    - name: Lisa Howard,
      title: Winemaker & Co-owner
      link: /img/lisa_howard_bio_tolenas_winery.pdf
    - name: Cliff Howard,
      title: Winemaker & Co-owner
      link: /img/cliff_howard_bio_tolenas_winery.pdf
    - name: Company
      title: ''
      link: /img/tolenas_company_bio.pdf
  videos:
    - title: Our Story
      id: tP6bb6E81OQ
    - title: El Camino
      id: mGR4GpqMxzY
    - title: Eclipse
      id: QcdezmciD3M
    - title: Totality
      id: iDjMm9NZWKM
wine-portfolio:
  wines:
    - title: Suisun Valley Red Blend
      image: /img/red-blend.png
      tech-sheet:
        - link: /img/tolenas_techsheet-2017redblend.pdf
          title: 2017 TS
      bottle-shot:
        - link: /img/red-blend-bottle.jpg
          title: 2017 BS
      front-label:
        - link: /img/red-blend-2018-fl.png
          title: 2018 FL
        - link: /img/red-blend-2017-fl.jpg
          title: 2017 FL
      tastry:
        - link: /img/red-blend-2017-tastry.pdf
          title: 2017 T
    - title: Eclipse Pinot Noir
      image: /img/pinot.png
      tech-sheet:
        - link: /img/Tolenas_TechSheet_2019Eclipse.pdf
          title: 2019 TS
      bottle-shot:
        - link: /img/eclipse-bottle.jpg
          title: 2019 BS
      front-label:
        - link: /img/eclipse-label-2020.png
          title: 2020 FL
        - link: /img/eclipse-label-2019.png
          title: 2019 FL
      tastry:
        - link: /img/eclipse-tastry.pdf
          title: 2019 T
    - title: Suisun Valley Rosé
      image: /img/rose.png
      tech-sheet:
        - link: /img/Tolenas_TechSheet_2019Rose.pdf
          title: 2019 TS
      bottle-shot:
        - link: /img/rose-bottle.jpg
          title: 2019 BS
      front-label:
        - link: /img/rose-label-2020.png
          title: 2020 FL
        - link: /img/rose-label-2019.png
          title: 2019 FL
      tastry:
        - link: /img/tolenas_winery_rose_2019.pdf
          title: 2019 T
    - title: Suisun Valley Sauvignon Blanc
      image: /img/savy-b.png
      tech-sheet:
        - link: /img/Tolenas_TechSheet-2019SauvignonBlanc.pdf
          title: 2019 TS
      bottle-shot:
        - link: /img/sauvignon-blanc-bottle.jpg
          title: 2019 BS
      front-label:
        - link: /img/sauvignon-blanc-label-2020.png
          title: 2020 FL
        - link: /img/sauvignon-blanc-label-2019.png
          title: 2019 FL
      tastry:
        - link: /img/tolenas_winery_sauvignon_blanc_2019.pdf
          title: 2019 T
    - title: Suisun Valley Gamay Nouveau
      image: /img/gamay.png
      tech-sheet:
        - link: /img/Tolenas_TechSheet-2020Gamay.pdf
          title: 2020 TS
      bottle-shot:
        - link: /img/gamay-bottle.jpg
          title: 2020 BS
      front-label:
        - link: /img/gamay-label-2020.png
          title: 2020 FL
      tastry:
        - link: ''
          title: ''
    - title: Lot 38 Suisun Valley Dessert Wine
      image: /img/dessert.png
      tech-sheet:
        - link: /img/Tolenas_TechSheet-2020Lot38-DessertWine.pdf
          title: 2020 TS
      bottle-shot:
        - link: ''
          title: ''
      front-label:
        - link: /img/dessert-wine-label-2020.png
          title: 2020 FL
      tastry:
        - link: ''
          title: ''
    - title: Suisun Valley Zinfandel
      image: /img/zin.png
      tech-sheet:
        - link: /img/Tolenas_TechSheet-2018Zinfandel.pdf
          title: 2018 TS
      bottle-shot:
        - link: ''
          title: ''
      front-label:
        - link: /img/zinfandel-label-2018.png
          title: 2018 FL
      tastry:
        - link: ''
          title: ''
newsroom:
  stories:
    - title: >-
        Great Wines, Wine Experiences and Wine Tools to Complete Your
        Celebration
      outlet: Splash Magazines
      link: >-
        https://splashmags.com/index.php/2021/01/04/great-wines-wine-experiences-and-wine-tools-to-complete-your-celebration/#gsc.tab=0
      date: January 2021
    - title: Holiday Gift Guide 2020 | Wine, Coffee and Foodie Gifts
      outlet: Posh Lifestyle & Beauty Blog
      link: >-
        http://www.poshbeautyblog.com/health/2020/12/17/holiday-gift-guide-2020-wine-coffee-and-foodie-gifts
      date: December 2020
    - title: Winemaking without Power
      outlet: Good Day Sacramento
      link: >-
        https://gooddaysacramento.cbslocal.com/video/program/652/4876890-winemaking-without-power/
      date: November 2020
    - title: Winemaking without Power 2
      outlet: Good Day Sacramento
      link: >-
        https://gooddaysacramento.cbslocal.com/video/4880903-winemaking-without-power-2/
      date: November 2020
    - title: Best Wines for Thanksgiving 2020
      outlet: Fortune
      link: >-
        https://fortune.com/2020/11/21/best-wines-thanksgiving-wine-recommendations-sparkling-white-rose-red/
      date: November 2020
    - title: Second generation award winning Suisun Valley Winemakers Tell Story
      outlet: Daily Republic
      link: >-
        https://www.dailyrepublic.com/all-dr-news/solano-news/fairfield/second-generation-award-winning-suisun-winemakers-tell-story/
      date: February 2020
    - title: Tenbrink Vineyards and Tolenas Winery – A Family Story
      outlet: California Wines and Wineries
      link: >-
        https://californiawinesandwineries.com/2020/01/09/tenbrink-vineyards-and-tolenas-winery-a-family-story/
      date: January 2020
    - title: From Tolenas With Love
      outlet: The Vinter Project
      link: https://vintnerproject.com/people/from-tolenas-with-love/
      date: August 2019
    - title: Suisun Valley Winemaker Earns Gold Medal
      outlet: Daily Republic
      link: >-
        https://www.dailyrepublic.com/all-dr-news/community/community-news-and-views/suisun-valley-winemaker-earns-gold-medal-in-the-2019-international-womens-wine-competition-with-her-91-point-white-pinot-noir/
      date: July 2019
    - title: Featured Winery - Tolenas Winery
      outlet: Winery Reflections
      link: https://wineryreflections.com/suisun-valley/featured-winery-1
      date: December 2019
    - title: 2018 Eclipse Suisun Valley White Pinot Noir - Tolenas Vineyards Winery
      outlet: Winery Reflections
      link: https://wineryreflections.com/tolenas-white-pinot-noir
      date: December 2019
    - title: Suisun Valley Event Leaves Guests Feeling Vine
      outlet: Daily Republic
      link: >-
        https://www.dailyrepublic.com/all-dr-news/solano-news/fairfield/suisun-valley-event-leaves-guests-feeling-vine/
      date: December 2019
    - title: Homegrown
      outlet: Solano Land Trust
      link: https://solanolandtrust.org/evistas/homegrown
      date: June 2018
---
{% include hero.html %}
<section id="contact-section">
  <div class="inner-section" data-cms-bind="#contact">
    {{ page.contact | markdownify }}  
  </div>
</section>
<section id="menu-section">
  <div class="inner-section">
    <div class="category-menu">
      {% for category in page.media-categories %}
      <div class="menu-col">
        <a data-cms-bind="#media-categories[{{ forloop.index0 }}]" href="#{{ category.title | slugify }}" style="background-image: url({{ category.image }});" class="menu-link {% if forloop.first %}active{% endif %}">
          <h2>{{ category.title }}</h2>  
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<section class="content-section active" id="brand-assets">
  <div class="inner-section">
    <div class="content-nav">
      {% for link in page.brand-assets.links %}
      <a data-cms-binding="#brand-assets.links[{{ forloop.index0 }}]" href="#{{ link | slugify }}" class="nav-link btn {% if forloop.first %}active{% endif%}">{{ link }}</a>
      {% endfor %}
    </div>
    <div class="content-body">
      <!-- Logos -->
      <div class="content-block active" id="logos">
        <div class="logo-grid">
          {% for logo in page.brand-assets.logos %}
          <div data-cms-bind="#brand-assets.logos[{{ forloop.index0 }}]" class="logo-col">
            {% assign display-image = logo.images | where_exp: "image", "image contains '.png'" %}
            <img src="{{ display-image }}" class="logo-image" alt="{{ logo.title }}" />
            <div class="logo-title">{{ logo.title }}</div>
            <div class="logo-links">
              {% for image in logo.images %}
              {% assign image-ext = image | split: '.' %}
              <a class="logo-link" download href="{{ image }}">{{ image-ext[1] }}</a>
              {% unless forloop.last %}|{% endunless%}
              {% endfor %}
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      <!-- Photos -->
      <div class="content-block" id="photos">
        <div class="photos-grid">
          {% for photo in page.brand-assets.photos %}
          <div class="photo-col" data-cms-bind="#brand-assets.photos[{{ forloop.index0 }}]">
            <div class="photo-image-box">
              <img class="photo-image" src="{{ photo.image.thumb }}" alt="{{ photo.title }}"/> 
            </div>
            <a class="photo-link" download href="{{ photo.image.original }}">{{ photo.title }}</a>
          </div>
          {% endfor %}
        </div>
      </div>
      <!-- Bios -->
      <div class="content-block" id="bios">
        <div class="bio-grid">
          {% for bio in page.brand-assets.bios %}
          <div class="bio-col" data-cms-bind="#brand-assets.bios[{{ forloop.index0 }}]">
            <div class="bio-name">{{ bio.name }}</div>
            {% if bio.title.size > 0 %}
            <div class="bio-title">{{ bio.title }}</div>
            {% endif %}
            <a href="{{ bio.link }}" download class="bio-link">Bio</a>
          </div>
          {% endfor %}
        </div>
      </div>
      <!-- Videos -->
      <div class="content-block" id="videos">
        <div class="video-grid">
          {% for video in page.brand-assets.videos %}
          <div class="video-col" data-cms-bind="#brand-assets.videos[{{ forloop.index0 }}]">
            <a class="video-link" href="https://www.youtube.com/watch?v={{ video.id }}">
            <img class="video-thumb" src="https://img.youtube.com/vi/{{video.id}}/mqdefault.jpg" alt="{{ video.title }} thumbnail"/>
            <div class="video-title">{{ video.title }}</div>
            </a>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
<section id="wine-portfolio" class="content-section">
  <div class="inner-section">
    <div class="content-nav">
      <a class="btn nav-link active" href="#wine-portfolio">Wine Portfolio</a>
    </div>
    <div class="content-body">
      <div class="portfolio-grid">
        {% for wine in page.wine-portfolio.wines %}
        <div class="portfolio-col" data-cms-bind="#wine-portfolio.wines[{{ forloop.index0 }}]">
          <div class="wine-image">
            <img src="{{ wine.image }}" class="wine-image-src" alt="{{ wine.title }} bottle"/>
          </div>
          <div class="wine-info">
            <div class="btn">{{ wine.title }}</div>
            {% include wine-info.html data=wine.tech-sheet title="Tech Sheet" %}
            {% include wine-info.html data=wine.bottle-shot title="Bottle Shot" %}
            {% include wine-info.html data=wine.front-label title="Front Label" %}
            {% include wine-info.html data=wine.tastry title="Tastry" %}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
<section id="newsroom" class="content-section">
  <div class="inner-section">
    <div class="content-nav">
      <a class="btn nav-link active" href="#newsroom">Newsroom</a>
    </div>
    <div class="content-body">
      <div class="story-list">
        {% for story in page.newsroom.stories %}
        <div class="story" data-cms-bind="#newsroom.stories[{{forloop.index0}}]">
          <i class="fa fa-chevron-right"></i>
          <span class="story-date">{{ story.date }}</span>
          <a href="{{ story.link }}" class="story-link">{{ story.outlet}}, {{ story.title }}</a>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>