---
_enabled_editors:
  - visual
  - data
_inputs:
  $.sections:
    type: array
    options:
      structures: _structures.visit-page-sections
permalink: "/visit/"
layout: default
content-id: visit
css: visit
scripts:
- visit
title: Visit
sections:
- title: Suisun Valley
  image: "/img/suisun_valley-menu.jpeg"
  content:
  - title: Suisun Valley, CA
    text: |-
      Located minutes off of I-80 between Sacramento and San Francisco, our easy to find winery and tasting lawn is a hidden gem you unknowingly pass during your daily commute

      Located in a red barn and standing next to a picturesque white Victorian home, our winery celebrates the agricultural heritage of Suisun Valley. This home was where Lisa and her three siblings grew up sorting cherries and peaches for their family fruit stand.

      Come visit us at 4185 Chadbourne Rd, Fairfield, CA 94534
    image: 
      src: "/img/suisun_valley.jpg"
      alt: "Vinyards in a valley"
  - title: Love Suisun Valley Like We Do
    text: |2-

      A hidden treasure nestled between major centers of industry, agriculture, and business, the Suisun Valley is a return to a simpler time. A love for the Valley, and a desire to continue the agricultural and winemaking legacy of the region, fueled our desire to come to Suisun and make wines. We love raising our children here and believe that our community has made our family stronger.

      A quick drive from both San Francisco and Sacramento, a day in Suisun Valley should start with a short hike at Rockville Hills Regional Park for stunning bay views. Call ahead to save time in line at La Barista, where you will find amazing sandwiches perfect for a picnic and wine tasting at Tolenas. Come visit our home and take in stunning Suisun Valley views. We’ll suggest local favorite Mankas Grill for dinner and dessert. A bottle of our signature Eclipse Pinot Noir is the perfect souvenir to memorialize your trip.
    button:
      text: View map
      link: "/img/love_suisun_valley_like_we_do.jpg"
    image: 
      src: "/img/love_suisun_valley_like_we_do-600x789.jpg"
      alt: "Street map of Suisun Valley with Tolenas Winery location shown"
    map: true
  - title: Suisun Valley AVA
    text: |-
      Just one year after Napa, the Suisun Valley has been designated as an American Viticultural Area (AVA) since 1982, and has been recognized as a longtime producer of some of California’s finest grapes. Vineyards were first planted in Suisun in 1860, and generations of Californians have since continued to care for vines on the sloping brownhills and sprawling valley floor.

      As second-generation farmers, we’ve continued this agricultural legacy, both in the vineyard and the orchard. We are passionate about protecting this land and strive to create wines that honor both the integrity of the fruit and the place where it was grown.
    image: 
      src: "/img/suisun_valley_AVA_REV-725x1024.jpg"
      alt: "Geographical map of Suisun Valley in relation to Napa and Solano"
    map: true
- title: Our Land
  image: "/img/our_land_menu.jpeg"
  content:
  - title: Our land
    text: Protecting our lands and implementing sustainable practices isn’t just a
      matter of principle, it’s personal. Our properties are our home, the vineyards
      are our backyard, and our children are growing up among the vines. Three generations
      of our family tend to these grapes, and we wouldn’t want it any other way.
    image:
      src: "/img/our_land.jpg"
      alt: "Cliff and Lisa Howard walking through an orchard"
  - title: Upper Valley Vineyard
    text: Located in the warm upper valley of Suisun, this is our home ranch where
      we raise our three children among the vineyards. Both planted in 2015, Petite
      Sirah grows among the valley floor while the Zinfandel vines sprawl on the red
      dirt hillside. We plant with intention. Coastal breezes are buffered by the
      sloping canyon producing a thick-skinned grape rich with flavor.
    image: 
      src: "/img/upper_valley_vineyard.jpg"
      alt: "View from inside a person driving a tractor overlooking a vineyard"
  - title: WINERY ESTATE
    text: On the south side of the valley bordered by mountains, the winery estate
      vineyard wraps around the winery and the house. Being the coolest part of the
      valley, the Pinot Noir here is heavily influenced by the coastal breeze and
      fog. At Tolenas, we plant with intention, the Pinot Noir vines are close to
      the winery so they don’t have to travel as far. It is that level of care and
      attention that makes our wines so good.
    image: 
      src: "/img/winery_estate.jpg"
      alt: "Lisa Howard holding grapes growing in a vineyard"
  - title: ORCHARD
    text: The family farm doesn’t start and stop with grapes. While grapes are Suisun
      Valley’s largest crop, our family has been growing fruits and vegetables here
      for years. Our high-end produce is locally sourced and distributed to well-known
      chefs through the bay area. We grow and press our own olives to produce rich
      and fruity olive oil. Our own kids are picking produce in the same place where
      Lisa grew up sorting cherries and peaches. A real family farm.
    image: 
      src: "/img/orchard.jpg"
      alt: "Lisa and Cliff Howard standing with their children in an orchard"
- title: Experience
  image: "/img/experience_menu.jpeg"
  content:
  - title: Experience
    text: |-
      Join us on our tasting lawn on our winery house property. Shaded by a sprawling walnut tree and individual umbrellas, your booking includes a private table with great views of the Pinot Noir vistas. We offer tasting flights as well as by the glass and bottle.

      This isn’t your typical wine tasting. At Tolenas, we invite you to spend time relaxing and enjoying time outside with family and friends. Feel free to bring a picnic or snacks to enjoy, but please leave the wine to us and refrain from bringing outside drinks. You can expect delicious wines, beautiful views, and friendly service.  First time at Tolenas? No worries! You’ll be family soon.
    button:
      text: Make a reservation
      link: "/reservation/"
    image: 
      src: "/img/experience.jpg"
      alt: "People standing around a lit tree in the Winery's tasting area"
  - title: JOIN THE CLUB
    text: Join our wine club and become part of our family. Perks include private
      tastings, promotions, and special events.
    button:
      text: Join
      link: "/club/"
    image: 
      src: "/img/join_the_club.jpg"
      alt: "Close up of a Tolenas Winery wine bottle with two glasses"
- title: Reservations
  image: "/img/reservations_menu.jpeg"
     
  content:
  - title: MAKE A RESERVATION
    text: |-
      Our winery is located in Farifield’s Suisun Valley, right off Rockville Road easily accessible off I-80. Suisun Valley is a hidden wine country gem many people pass by during their daily commute between San Francisco and Sacramento. We invite you to join us and take a break from your busy life. Soak up the view of our Pinot Noir vineyards and enjoy the shade of our 100 year old sprawling walnut tree. We offer tasting flights as well as by the glass and bottle.

      As a small family winery located in a rural setting, our tastings are available by appointment only. To schedule a tasting, you are welcome to call/text us at 707.372.1434 , email us at [lisa@tolenaswinery.com](mailto:lisa@tolenaswinery.com) or reserve your appointment right online below. We are currently open on select Saturday and Sundays 12-4pm.

      Feel free to bring a picnic or snack to enjoy, but please leave the wine to us. You can expect delicious wines, beautiful views, and friendly service. First time at TOLENAS? No worries! You’ll be family soon.

      Location:
      Tolenas Winery/Tenbrink Vineyards
      4185 Chadbourne Rd
      Fairfield, CA 94534

      <a href="/reservation/" class="btn">Make a reservation</a>
    image: 
      src: ''
      alt: ''

---
<section id="visit-content">
  <div class="inner-section">
    {% for section in page.sections %}
    <div data-cms-bind="#section[{{ forloop.index0 }}]" id="{{ section.title | slugify }}" class="content-section {% if forloop.first %}active{% endif %}">
      {% assign contentIndex = forloop.index0 %}
      {% for content in section.content %}
      <div data-cms-bind="#section[{{ contentIndex }}].content[{{forloop.index0 }}]" class="content-block {% if content.map == true %}map{% endif %}">
        <div class="image-col">
          <img  class="block-image" src="{{ content.image.src }}" alt="{{ content.image.alt }}"/>
        </div>
        <div class="text-col">
          <h2 class="block-title">{{ content.title }}</h2>
          <div class="block-text">
            {{ content.text | markdownify }}
            {% if content.button and content.button.text != '' %}
            <p>
              {% include button.html text=content.button.text link=content.button.link %}
            </p>
            {% endif%}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    {% endfor %}
  </div>
</section>
<div id="visit-menu">
  <div class="menu-links">
    {% for link in page.sections %}
    <a data-cms-bind="#section[{{ forloop.index0 }}]" href="#{{ link.title | slugify }}" class="menu-link {% if forloop.first %}active{% endif %}" style="background-image: url('{{ link.image }}');">
      <h2 class="link-title">
        <i class="fa fa-chevron-left"></i> {{ link.title }}
      </h2>
    </a>
    {% endfor %}
    <div class="visit-menu-toggle">
      <i class="fa fa-chevron-down"></i>
    </div>
  </div>
</div>