<div id="age-gate">
  <!-- <div class="bg-video">
    <iframe src="https://player.vimeo.com/video/505424044?autoplay=1&loop=1&background=1" title=""  width:="100%" height="100%" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
  </div> -->
  <div class="gate-content">
    
    <div class="logo">
      <img src="/img/tolenas-white.png" alt="Tolenas Winery Logo" />
    </div>
    <p>Are you 21 or older?</p>
    <div class="btn-row">
      <button class="gate-btn yes btn yellow">Yes</button>
      <button class="gate-btn no btn yellow">No</button>
    </div>
  </div>
  {% include email-signup.html %}
</div>