<div class="email-signup" id="{{ include.container-id }}">
  <!-- <form class="subscribe-form" method="post">
  	<div class="form-body">
    	<div class="form-title">
        Keep your ear to the ground
      </div>
      <div class="form-field input-field">
        <input type="text" class="email" name="email" autocomplete="email" value="" placeholder="Email" required="">  
      </div>
      <div class="form-field submit-field">
        <button type="submit" class="btn white">Sign up</button>  
      </div>  
  	</div>
  	<div class="result-msg">
  	</div>
  </form> -->
  <div class="c7-subscribe"></div>
</div>