<nav class="{{ page.nav_class }}">
  <div class="nav-menu">
    <div class="menu-links">
      {% for link in site.data.menu.nav %}
      <div class="link-block">
        <a class="menu-link" href="{{ link.url }}">{{ link.title }}</a>
      </div>
      {% endfor %}
      <div class="link-block">
        <a class="menu-link" href="{{ site.data.menu.cart }}">Cart</a>
      </div>
      <div class="link-block">
        <a class="menu-link" href="{{ site.data.menu.login }}">Login</a>
      </div>
    </div>
    <div class="social-links">
      {% for link in site.data.menu.social %}
      <a class="social-link" title="{{ link.title }}" href="{{ link.href }}">
        {{ link.icon }}
      </a>
      {% endfor %}
    </div>
  </div>
  <a class="nav-logo" href="/">
    <img src="{{ site.data.menu.logo }}" class="logo-img" />
  </a>
  <div class="nav-toggle">
    <div class="toggle-lines">
      <div class="toggle-line top"></div>
      <div class="toggle-line middle"></div>
      <div class="toggle-line bottom"></div>
    </div>
  </div>
</nav>