---
layout: compress
---
<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
</head>
<body>
    {% if site.gtm %}
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ site.gtm }}"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    {% endif %}
    {% if site.age-gate == true %}
    {% include age-gate.html %}
    {% endif %}

    {% include nav.html %}
    
    {% if layout.content-id %}
    {% assign content-id = layout.content-id %}
    {% endif %}
    {% if page.content-id %}
    {% assign content-id = page.content-id %}
    {% endif %}

    <main id="{{ content-id }}">
    {{ content }}
    </main>
    {% include footer.html %}
    <!-- Scripts -->
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Commerce 7 -->
    <script type="text/javascript" src="https://cdn.commerce7.com/v2/commerce7.js" id="c7-javascript" data-tenant="tolenas-vineyards-and-winery"></script>
    {% if page.slick == true %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js" integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg==" crossorigin="anonymous"></script>
    {% endif %}
    {% if page.url == '/' %}
    <!-- IG feed -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.instagramFeed/3.0.4/jquery.instagramFeed.min.js" integrity="sha512-/z6cDTmzplKFL9sRet94DsTK8ZdXIeIj4BZAVtjDKLG/DMl9lrQeOmVXMQrpb6KWwNNvqVAy+liFguc8jGOj6Q==" crossorigin="anonymous"></script>
    {% endif %}
    {% if site.age-gate == true %}
    <!-- age gate scripts -->
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
    <script src="{{ '/js/min/age-gate.min.js' | relative_url }}"></script>
    {% endif %}
    <!-- Sitewide scripts  -->
	<script src="{{ '/js/min/site_functions.min.js' | relative_url }}"></script>
    <!-- Layout -->
    {% if layout.scripts %}
    {% for script in layout.scripts %}
    {% capture script-path %}/js/min/{{ script }}.min.js{% endcapture %}
    <script src="{{ script-path | relative_url }}"></script>
    {% endfor %}
    {% endif %}
    <!-- Page -->
    {% if page.scripts %}
    {% for script in page.scripts %}
    {% capture script-path %}/js/min/{{ script }}.min.js?{{site.time | date: '%s'}}{% endcapture %}
    <script src="{{ script-path | relative_url }}"></script>
    {% endfor %}
    {% endif %}
    <!-- End Scripts -->
</body>
</html>
